@import url('https://dev-cats.github.io/code-snippets/JetBrainsMono.css');
* {
	font-family: 'Jetbrains Mono';
}

:root {
	--hue: 200;
	--bg-sat: 10%;
	--bg-lit: 10%;

	--txt-sat: 80%;
	--txt-lit: 50%;

	--opcode-hue: 350;
	--prefix-hue: 300;
	--operrand-hue-base: 100;
	--operrand1-hue: calc(var(--operrand-hue-base) + 0);
	--operrand2-hue: calc(var(--operrand-hue-base) + 50);
	--operrand3-hue: calc(var(--operrand-hue-base) + 100);
}

* {
	color: hsl(var(--hue),var(--txt-sat),var(--txt-lit));
}

body {
	background: hsl(var(--hue),var(--bg-sat),var(--bg-lit));
}

.instruction {
	background: hsl(var(--hue),var(--bg-sat),calc(var(--bg-lit) + 10%));
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
}

.HexDisplay {
	color: inherit;
}

/*
	. encoded
*/
.encoded {
	font-size: 14px;
}
.encoded .byte {
	padding-left: 5px;
	color: inherit;
}

/*
	. decoded
*/
.decoded {
	font-size: 20px;
}
.decoded span {
	padding-left: 5px;
}

/*
	. encoded & decoded
*/
.opcode {
	color: hsl(var(--opcode-hue),var(--txt-sat),var(--txt-lit));
}
.prefix {
	color: hsl(var(--prefix-hue),var(--txt-sat),var(--txt-lit));
}
.operrand1 {
	color: hsl(var(--operrand1-hue),var(--txt-sat),var(--txt-lit));
}
.operrand2 {
	color: hsl(var(--operrand2-hue),var(--txt-sat),var(--txt-lit));
}
.operrand3 {
	color: hsl(var(--operrand3-hue),var(--txt-sat),var(--txt-lit));
}
